body{
    display: flex;
    justify-content: center;
    
}
.resume{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
   height: 1000px;
   width: 800px;
   flex-direction: column;
}
.info{
    width: 500px;
}
.header{
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    height: 120px;
    top: 0;
}
.photo>img{
    width: 120px;
    height: 140px;
    border-radius: 50%;
}
.row1,.row2,.row3{
  display: flex;
  
  width: 800px;
  height: 300px;

}
.row1,.row2{
    border-bottom-style: dashed;
}
.contact,.skills,.Education{
    padding: 20px;
   width: 400px;
   border-right-style:dashed ;
}
.profile,.experience,.projects{
width: 400px;
padding: 20px;
}
.contact>a>.link>img{
    width: 20px;
    height: 20px;
}
.contact{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.contact>a{
    padding: 5px;
    justify-content: center;
    
}
.contact>a>.link{
   display: inline-block;
}
.skills>ul>li{
    margin: 10px;
 }
